$primary-light: #31363F;
$primary-dark: #212121;

$primary-shadow: #212121;

$btn-primary: #D4FAFC;
$btn-secondary: #31363F;
$btn-terciary: #31363F;
$btn-quartary: #31363F;

$white: #fff;
$blue: #D4FAFC;