$primary-light: #31363F;
$primary-dark: #212121;

$primary-shadow: #212121;

$btn-primary: #D4FAFC;
$btn-secondary: #31363F;
$btn-terciary: #31363F;
$btn-quartary: #31363F;

$bg-primary: #a3a3a3;

$white: #fff;
$blue: #D4FAFC;
$light: #a3a3a3;


$git: #fff;
$linkedin: #007bb5;
$insta: #125688;
$tube: #bb0000;