.logo_center{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        margin-top: -50px;
    }
}

.user{
    padding: 0 40px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.user 
picture{
    width: 200px;
    height: 200px;
    border-radius: 12px;

    box-shadow: $primary-shadow;

    margin-top: -100px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    
        border-radius: 12px;
    }
}

.user_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;

    h1{
        font-size: 2rem;
        color: $white;
    }

    p{
        font-size: 1.125rem;
        font-weight: 300;

        letter-spacing: 1px;

        color: $blue;
    }
}

.social{
    display: flex;
    column-gap: 8px;
    margin-top: 24px;
}

.social_link{
    width: 46px;
    height: 46px;

    border-radius: 4px;
    background: $btn-primary;
    color: $btn-secondary;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: ease-in-out all .3s;

    i{
        font-size: 22px; 
    }
}

// HOVER SOCIAL MIDIA------------
.social_link:hover{
    background: $btn-secondary;
    color: $btn-primary;
    transform: translateY(-10px);
}
//--------------------------------

.cv{
    margin-top: 20px;
}

.cv_link{
    color: $btn-terciary;
    font-weight: 600;
    
    border: 2px solid $btn-terciary;
    border-radius: 4px;
    padding: 8px 10px;
    margin-top: 18px;

    box-shadow: 0px 6px 0px -2px $btn-primary;

    transition: ease-in-out all .3s;

}
// HOVER CV------------------------
.cv_link:hover{
    color: $btn-quartary;

    font-weight: 600;
    border: 2px solid $btn-primary;
    background:  $btn-primary;
    box-shadow: 0 0 $btn-primary; 
   
    transform: translateY(1px);
}
//----------------------------------
