:root {
    
    
  /* light theme */
    --background-light: hsl(293, 100%, 98%);
    --on-background-light: hsl(264, 8%, 12%);
    --surface-light: hsl(293, 100%, 98%);
    --on-surface-light: hsl(264, 8%, 12%);
    --on-surface-variant-light: hsl(264, 7%, 29%);
    --surface-container-low-light: hsl(278, 44%, 96%);
    --surface-container-light: hsl(276, 38%, 95%);
    --surface-bright-light: hsl(293, 100%, 98%);
    --primary-light: hsl(256, 34%, 48%);
    --on-primary-light: hsl(0, 0%, 100%);
    --outline-light: hsl(270, 4%, 47%);
    --outline-variant-light: hsl(270, 11%, 79%);

    /* tamanho e familia da fonte */
    --font-1rem: 1rem; /* 16px tamanho padrão */
    --font-0_9rem: 0.9rem; /* 14px tamanho padrão */
    --font-2rem: 2rem; /* 32px relativo ao tamanho padrão */
    --font-1_3rem: 1.3rem; /* 20.8pxrelativo ao tamnho da fonte */
    --font-1_25rem: 1.25rem; /* 20px relativo ao tamnho da fonte */
    --font-1_4rem: 1.4rem; /* 22.4px relativo ao tamnho da fonte */
    --font-3_5rem: 3.5rem; /* 30px tamnho do titulo topo */
    --font-5rem: 5rem; /* 30px tamnho do titulo topo */
    --font-family: "Poppins", sans-serif;
  }
  